{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Admin</title>
	<link rel="stylesheet" href="https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css">
	<link rel="stylesheet" href="{% static 'admin.css' %}">
</head>
<body>
	<head>
	  
	  <body>
		<div class="sidebar">
		  <div class="logo-details">
			<!-- <i class='bx bxl-codepen icon'></i> -->
			<img src="{% static 'logo.png' %}" alt="Logo" class = "bx licon icon">
			<div class="logo_name">EMS</div>
			<i class='bx bx-menu' id="btn"></i>
		  </div>
		  <ul class="nav-list">
			<!-- <li>
			  <i class='bx bx-search'></i>
			  <input type="text" placeholder="Search...">
			  <span class="tooltip">Search</span>
			</li> -->
			<li>
			  <a href="#">
				<i class='bx bx-grid-alt'></i>
				<span class="links_name">Dashboard</span>
			  </a>
			  <span class="tooltip">Dashboard</span>
			</li>
			<li>
			  <a href="#">
				<i class='bx bx-user'></i>
				<span class="links_name">Leave Requests</span>
			  </a>
			  <span class="tooltip">Leave Requests</span>
			</li>
			<!-- <li>
			  <a href="#">
				<i class='bx bx-chat'></i>
				<span class="links_name">Messages</span>
			  </a>
			  <span class="tooltip">Messages</span>
			</li>
			<li>
			  <a href="#">
				<i class='bx bx-pie-chart-alt-2'></i>
				<span class="links_name">Analytics</span>
			  </a>
			  <span class="tooltip">Analytics</span>
			</li>
			<li>
			  <a href="#">
				<i class='bx bx-folder'></i>
				<span class="links_name">File Manager</span>
			  </a>
			  <span class="tooltip">Files</span>
			</li>
			<li>
			  <a href="#">
				<i class='bx bx-cart-alt'></i>
				<span class="links_name">Order</span>
			  </a>
			  <span class="tooltip">Order</span>
			</li>
			<li>
			  <a href="#">
				<i class='bx bx-heart'></i>
				<span class="links_name">Saved</span>
			  </a>
			  <span class="tooltip">Saved</span>
			</li> -->
			<li>
			  <a href="#">
				<i class='bx bx-cog'></i>
				<span class="links_name">Settings</span>
			  </a>
			  <span class="tooltip">Settings</span>
			</li>


			<li class="profile">
			  <!-- <div class="profile-details"> -->
				<!-- <i class='bx bx-export'></i> -->
			
				<a href="{% url 'logout' %}">
					<!-- <div class="name_job"> -->
					  <div class="name">Logout</div>
					<!-- </div> -->
				  <!-- </div> -->
				  <i class='bx bx-log-out' id="log_out"></i>
				  <span class="tooltip">Logout</span>
				  <!-- <span class="tooltip">Saved</span> -->
				  <!-- </div> -->
				</a>
			
			
			</li>
		  </ul>
		</div>
		<section class="home-section">
			<form action="" method="post"></form>
		  <div class="text">Dashboard</div>
		  <div class="table">
			<table>
				<thead>
					<tr>
						<th>Name</th>
						<th>Roll Number</th>
						<th>Room</th>
						<th>Room Status</th>
						<th>Time</th>
						<th>Status</th>
						<!-- <th>Status</th>
						<th>Action</th> -->
					</tr>
					</thead>
					<tbody>
						{% for data in datas %}
							<tr>
								{% for key, value in data.items %}
									{% if key == 'username' %}
									{% endif %}

									{% if key == 'room_light_status' or key == 'student_hostel_status' %}
										<td><div class = " "><span>{{ value }}</span></div></td>
									{% else %}
										<th>{{ value }}</th>
									{% endif %}
								{% endfor %}
							</tr>
						{% endfor %}
					</tbody>
			</table>
		</div>
		</section>


		
	
		<script src="{% static 'admin.js' %}"></script>
	  </body>
</body>
</html>