{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Admin</title>
	<link rel="stylesheet" href="https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css">
	<link rel="stylesheet" href="{% static 'admin.css' %}">
	<script src="https://cdn.tailwindcss.com"></script>
	<script src="{% static 'admin.js' %}"></script>
</head>
<body>
	<head>
	  <body>
		<div class="sidebar">
		  <div class="logo-details">
			
			<img src="{% static 'logo.png' %}" alt="Logo" class = "bx licon icon">
			<div class="logo_name">EMS</div>
			<i class='bx bx-menu' id="btn"></i>
		  </div>
		  <ul class="nav-list">
			
			<li>
			  <a href="#">
				<i class='bx bx-grid-alt'></i>
				<span class="links_name">Dashboard</span>
			  </a>
			  <span class="tooltip">Dashboard</span>
			</li>
			<li>
			  <a href="#">
				<i class='bx bx-user'></i>
				<span class="links_name">Leave Requests</span>
			  </a>
			  <span class="tooltip">Leave Requests</span>
			</li>
	
			<li>
			  <a href="#">
				<i class='bx bx-cog'></i>
				<span class="links_name">Settings</span>
			  </a>
			  <span class="tooltip">Settings</span>
			</li>


			<li class="profile">
			
				<a href="{% url 'logout' %}">
				  <div class="name">Logout</div>
			
			  <i class='bx bx-log-out' id="log_out"></i>
			  <span class="tooltip">Logout</span>
			
			</a>
			</li>
		  </ul>
		</div>

		<section class="home-section bg-red-200 w-[94.8vw]">
		<div>
			<h3 class="border-2  inline-block relative top-5 left-5">13 March , 2024</h3>
		</div>
		<div>
			<!-- upper part -->
		</div>
		<div>
			<div class="table w-full">
				<table>
					<thead>
						<tr>
							<th>Name</th>
							<th>Roll Number</th>
							<th>Room</th>
							<th>Room Status</th>
							<th>Time</th>
							<th>Status</th>
							<!-- <th>Status</th>
							<th>Action</th> -->
						</tr>
						</thead>
						<tbody>
							{% for data in datas %}
								<tr>
									{% for key, value in data.items %}
										{% if key == 'username' %}
										{% endif %}
	
										{% if key == 'room_light_status' or key == 'student_hostel_status' %}
											<td><div class = " "><span>{{ value }}</span></div></td>
										{% else %}
											<th>{{ value }}</th>
										{% endif %}
									{% endfor %}
								</tr>
							{% endfor %}
						</tbody>
				</table>
			</div>
		</div>
		</section>
	  </body>
</body>
</html>